################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Restaurant/v16/Browse.VC.opendb
/.vs
/Debug
/Restaurant/Debug
